<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>URL</key>
        <dict>
            <key>TwitchTV</key>
            <dict>
                <key>URLPatterns</key>
                <array>
                    <string>^1([^\|]+\|)?https?://([^\.]+\.)?twitch\.tv/[^/]+/[abcv]{1}/[0-9]+$</string>
                    <string>^1([^\|]+\|)?https?://([^\.]+\.)?twitch\.tv/[^/]+$</string>
                    <string>^1(.+%7C)?https?://([^\.]+\.)?twitch\.tv/[^/]+/[abcv]{1}/[0-9]+$</string>
                    <string>^1(.+%7C)?https?://([^\.]+\.)?twitch\.tv/[^/]+$</string>
                </array>
            </dict>
        </dict>
    </dict>
</plist>
